{% for task in tasks %}
    <tr>
        <td><a href="/task/edit/{{ task.uuid }}">{{ task.name }}</a></td>
        <td>
            {% for tag in task.tags %}
                <span style="font-size: 0.7rem">{{ tag }}</span>
            {% endfor %}
        </td>
        <td>
            {% if task.priority == 0 %}<span class="badge badge-light">low</span>{% endif %}
            {% if task.priority == 1 %}<span class="badge badge-warning">middle</span>{% endif %}
            {% if task.priority == 2 %}<span class="badge badge-danger">hight</span>{% endif %}
        </td>
        <td>
            {% if task.status == 0 %}<span class="badge badge-success">closed</span>{% endif %}
            {% if task.status == 1 %}<span class="badge badge-primary">in work</span>{% endif %}
        </td>
        <td width="3%">
            <button type="button" class="deleteTask btn btn-outline-danger btn-sm" uuid="{{ task.uuid }}">delete</button>
        </td>
    </tr>
{% endfor %}